.main-background-color {
  background: #0093d2;
}

.logo-container {
  position: absolute;
  left: 20px;
}

.top_header {
  background: #0093d2;
  color: #fff;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clickable {
  cursor: pointer;
}

.main-background-color {
  background: #0093d2;
}

td,
th {
  text-align: center !important;
  font-weight: bolder;
}

tr {
  background-color: #fff !important;
}

.alertbox {
  opacity: 0.8;
  border-radius: 10px;
  background: lightblue;
  transition: opacity 0.6s;
  /* 600ms to fade out */
  position: fixed !important;
  text-align: center;
  min-width: 480px;
  width: auto;
  max-width: 1024px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  word-wrap: break-word;
  top: 5px;
  right: 5px;
  z-index: 100000;
  max-height: 270px;
  overflow-x: hidden;
  overflow-y: auto;
}

.errorbox {
  background: sandybrown;
}

.messagebox {
  background: lightgreen;
}

.clear {
  clear: both;
  margin: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.menutop {
  z-index: 9999;
  background: #ffffff;
}

.menutop .w3-bar {
  background: #f1f1f1;
  opacity: 1;
}

.spacer {
  width: 100%;
  height: 0;
}

.black-border {
  border: 2px solid #333 !important;
}

.selection-materiel {
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.selection-materiel-selected {
    background-color: #008ed6 !important;
    color: white !important;
    border-color: #005f8d !important;
    transform: scale(1.02);
}

.selection-materiel-indisponible {
  opacity: 50%;
  cursor: not-allowed;
  user-select: none;
}

.scroll-container {
  height: 155px;
  overflow-x: hidden;
  overflow-y: auto;
}